shamefully-hoist=true
strict-peer-dependencies=false
electron_mirror=https://npmmirror.com/mirrors/electron/
sharp_binary=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary=https://npmmirror.com/mirrors/sharp-libvips